.container-fluid {
  margin-top: 56px;
}
.keyword {
  cursor: pointer;
}
#toTop{
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
}
#search {
  width: 250px;
}
#keyword-container {
  font-size: 18px;
}