.container-fluid {
  margin-top: 66px;
}
#keyword-container .badge {
  cursor: pointer;
}
#toTop{
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
}
#search {
  width: 250px;
}
#keyword-container {
  font-size: 18px;
}
#wrapper .img-fluid {
  width: 100%;
}
.widget {
  padding-left: 5px;
  padding-right: 5px;
}
#wrapper .widget_details {
  top: 0;
  right: 0;
  margin-right: 15px;
  padding: 5px;
  opacity: 0.5;
}
#wrapper .widget_details:hover {
  opacity: 1;
}
.img-fluid {
  border-radius: 2px;
}
#preview .img-fluid {
  max-height: 100%;
}
#preview {
  z-index: 3;
  border-radius: 2px;
  top: 66px;
  background-color: rgba(0, 0, 0, 0.95);
}
#preview .img-fluid {
  cursor: zoom-out;
  color: white;
}
.img-fluid.show-preview {
    cursor: zoom-in;
}
#close-preview {
  top: 0;
  right: 0;
}
#preview-left {
  top: 50%;
  left: 0;
}
#preview-right {
  top: 50%;
  right: 0;
}
#set-wallpaper-preview {
  top: 0;
  right: 45px;
}
#toTop {
  z-index: 4;
}
.localImage .removeButton {
    display: inline-block;
}
.remoteImage .removeButton {
    display: none;
}
